{% extends 'base.html.twig' %}

{% block title %}Modification d'un flux{% endblock %}

{% block body %}
    <h1 class="my-5">Modification d'un Flux_RSS</h1>

    {{ include('flux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('flux_index') }}">Voir liste des flux</a>

    {{ include('flux/_delete_form.html.twig') }}
{% endblock %}
