{% extends 'base.html.twig' %} {% block title %}New Flux{% endblock %} {% block body %}
<div class="article-container">
    <h1>Créer un nouveau flux</h1>

    {{ include('flux/_form.html.twig') }}

    <button type="button" class="btn btn-primary btn-add"><a href="{{ path('flux_index') }}">Voir  la liste !</a></button>
</div>
{% endblock %}