<ion-content>
    <div class="main-content" style=" align-items:unset;padding-top: 50px !important">
        <ion-icon name="arrow-round-back" class="back-arrow" (click)="dismiss()"></ion-icon>
        <ion-grid>
            <ion-row>
                <ion-col size="12" *ngFor="let article of articleDetail">
                    <ion-card class="article-card">
                        <img src="{{ article.img }}" alt="" width="100%">
                        <ion-card-header>
                            <ion-card-title>{{ article.title }}</ion-card-title>
                            <ion-card-subtitle>{{ article.subtitle }}</ion-card-subtitle>
                        </ion-card-header>

                        <ion-card-content>
                            {{ article.description }}
                            <br>
                            <br>
                            <ion-button expand="block"><a href="{{article.link}}" style="color: white;"> Lien de l'article</a></ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>