<ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-menu">
        <ion-tab-button tab="tab1" class="tab-button">
            <ion-icon name="book"></ion-icon>
            <ion-label>Article</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2" class="tab-button">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Accueil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3" class="tab-button">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Flux RSS</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>