.tab-menu {
    background-color: white;
    color: white;
}

.tab-button {
    background-color: white;
    color: #00b8ff;
}

.tab-button:hover {
    background-color: white;
    color: rgb(167, 167, 167);
}