{% extends 'base.html.twig' %} {% block title %}Bienvenue sur le meilleur site d'avalanche !{% endblock %} {% block body %}
<div class="content">
    <div class="home-container">
        <p class="home-title"><span style="color: white;"> Bienvenue sur AVA</span>LAN<span style="color: white;">CHE !</span></p>

        <p class="home-subtitle">Votre application de regroupement d'article et de flux RSS</p>
    </div>
</div>

{% endblock %}