<ion-content>
    <!-- <ion-header>
        <ion-toolbar>
            <ion-title size="large"></ion-title>
        </ion-toolbar>
    </ion-header> -->
    <div class="main-content" id="particles-js">
        <div class="circle">
            <img src="../../assets/Avalanche.png" alt="" width="85%">
        </div>
        <div class="right-bottom-arrow align-center" style="align-items:flex-start">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" class="align-center">
                        <p class="home-text"><span style="color: black;">AVA</span>LAN<span style="color: black;">CHE</span></p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>