.article-card {
    background-color: white;
    margin: 5px 5px;
    border-radius: 5%;
    border: 1px solid #00000035;
    ;
}

.article-title {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    color: black;
}

ion-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #00b8ff;
}

ion-card-subtitle {
    font-size: 18px;
    text-transform: none;
}

ion-card-content {
    padding: 0
}