.flux-origin {
    color: black;
    text-align: center;
}

.date-publi {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.808);
    margin: 10px 0px 0px 0px;
}

ion-card-title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #00b8ff;
}

.flux-text {
    max-width: 90vw;
    max-height: 30vh;
    text-align: justify;
    font-size: 15px;
    margin: 0 10px 0 0;
}

.article-card {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
}