<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index:1;">
        <ion-refresher-content refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <ion-header>
        <ion-toolbar>
            <ion-title size="large">Flux RSS</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="main-content">
        <ion-grid>
            <ion-row>
                <ion-col size="12" *ngFor="let article of allArticle">
                    <ion-card class="article-card" href="{{article.link}}" *ngIf=" article.link != undefined">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4" class="align-center" *ngIf=" article.logo != ''">
                                    <img src="{{article.logo}}" alt="" style="max-height: 100px">
                                </ion-col>
                                <ion-col size="4" class="align-center" *ngIf=" article.logo == ''">
                                    <img src="http://www.oc-conseil.net/mobile/images/news.png" alt="">
                                </ion-col>
                                <ion-col size="8">
                                    <ion-card-title>{{article.title}}</ion-card-title>
                                    <h5 class="date-publi">{{article.date}}</h5>
                                </ion-col>
                                <ion-col size="12">
                                    <p class="flux-text">{{article.description}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>