div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.container,
div.container-fluid {
    margin-top: 10px;
}

.content {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1,
div.ad-title {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


/** 
* Mise en forme de bouton Réserver et titre de l'annonce 
*/

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}


/** 
* Mise en forme de l'avatar 
*/

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}


/** 
* Mise en forme de l'avatar(annonce) 
*/

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}


/** 
* Mise en forme de l'avatar (connexion)
*/

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro {
    max-width: 23px;
    max-height: 23px;
}

.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}

a {
    color: white;
    text-decoration: none !important;
}

a:hover {
    color: white;
    text-decoration: none !important;
}

.login-form {
    width: 30vw;
    background: white;
    color: black;
    padding: 25px;
    border-radius: 25px;
}

.login-form a {
    color: black;
}

.login-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10%;
    color: black;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add {
    margin-left: 45px;
}

.table {
    width: 100vw;
}

.form-control {
    color: black;
}

.home-title {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #00b8ff;
}

.home-subtitle {
    text-align: center;
    font-size: 40px;
    color: #ffffffd1;
}

.header-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #00b8ff;
}